*{margin: 0%;
padding: 0%;}

body{background-image: url(../imagenes/Img-fondo.jpg)}

.encabezado{background-color: black;
display: flex;}
   
.logo{width: 15rem; 
height: 15rem;
margin:1.2rem;
padding: 1.2rem;}

.burger{background-color: orangered;}

ul{ list-style-type: none;
display: flex}

.zona-1{ color: orangered !important;
text-decoration: none;
margin:1.2rem;
padding: 1.2rem;
font-size: 2rem;
font-family: Georgia, 'Times New Roman', Times, serif;
font-weight: bolder;}

footer{display: flex;
align-items: center;
color: orangered;
background-color: black;}

.parrafo-pie{margin: 1.1rem;
padding: 1.1rem;}    

.wpp{width: 7rem;
height: 7rem;
margin: 1.2rem;
padding: 1.2rem;}

.web-wpp{position: fixed;
right: 1.1rem;
bottom: 1.1rem;}

.contenido-principal{color: orangered;
text-align: center;}

.talentos{margin: 1.2rem;
padding: 1.2rem;
font-size: 2rem;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
font-weight: bolder;}

h1{font-size: 5rem;
margin: 1.1rem;
padding: 1.1rem;
border-top: 5px solid orangered;
font-family: Georgia, 'Times New Roman', Times, serif;
transition: 2s;}

h1:hover{font-size: 8rem;
margin: 1.2rem;
padding: 1.2rem;
border-radius: 2px solid;
background-color: black;}

h2{font-size: 2rem;
font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;}

.imagen-principal{width: 50rem;
height: 40rem;
margin: 1.2rem;
padding: 1.2rem;}

.imagen-principal:hover{width: 70rem;}

.edades{ background-color: bisque;
margin: 1.2rem;
padding: 1.2rem;
font-size: 3rem;
text-align: center;
border: 3px solid white;
font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
font-weight: bolder;
transition: 2s;}

.edades:hover{background-color: orangered;
color: black;
border: 3px solid black;}